.vscode/**
.vscode-test/**
.github/**
docs/**
scripts/**
out/**
node_modules/**
package-lock.json
src/**
.gitignore
.eslintignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
resources/dark/**
resources/light/**
resources/json-500.png
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
